/* You can add global styles to this file, and also import other style files */
body {
    background-color: skyblue;
}
.full-width {
    width: 100% !important;
}
.text_field{
    height: 40px; 
}
.text_area{
    height: 55px; 
}
.row_bottom{
    margin-bottom: 15px;
}
.form-error-msg {
    color: #f44336;
    display: block;
    padding: 5px 0;
}
.m-1 {
    margin: 1rem !important;
}
.mt-1 {
    margin-top: 1rem !important;
}
.mr-1 {
    margin-right: 1rem !important;
}
.warn-icon {
    color: #f44336;
    cursor: pointer;
}